
$bg-color: #E6E5E1;
$shdow-gray: #d3d3d5;


.cards {
    display: flex;
    flex-wrap: wrap;
}
.card {
    position: relative;
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    margin: 10px 10px 10px;
    height: 200px;
    
    &__name {
        z-index: 99;
        font-family: "Poppins", sans-serif;
        position: absolute;
        bottom: 0;
        left: 10px;
        font-size: 30px;
        font-weight: 700;
        color: #fff;
        margin: 10px 0;
        display: block;
        width: calc(100% - 90px);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        pointer-events:none;
        text-shadow: rgba(0, 0, 0, 0.2) 1px 0px 15px;

        @media (min-width: 600px) {
            font-size: 50px;
        }
        @media (min-width: 992px) {
            font-size: 60px;
        }
    }
    
    &__trigger {
        z-index: 100;
        position: absolute;
        cursor: pointer;
        border: 0;
        background: transparent;
        transition: all 0.2s ease;
        color: #fff;


        width: 100%;
        right: 0;
        bottom: 0;
        height: 100%;
        text-align: right;
        padding-right: 25px;
        z-index: 99;
        transform: scale(1);
        opacity: 1;
        @media (min-width: 992px) {
            transform: scale(0.1);
            opacity: 0;
            right: 15px;
            bottom: 20px;
            height: auto;
        }
        i {
            font-size: 30px;
            
            @media (min-width: 600px) {
                font-size: 40px;
            }
        }
        
        &:focus {
            outline: 0;
        }
    }
    &__material {
        z-index: 99;
        position: absolute;
        top: 20px;
        right: 70px;
        color: #333;
        opacity: 0.7;
        font-size: 12px;
        letter-spacing: 1px;
        writing-mode: vertical-lr;
        transition: all 0.2s ease;
    }
    &__material-logo {
        position: absolute;
        width: 50px;
        right: 10px;
        top: 10px;
        z-index: 1;
    }
    &__pic {
        z-index: 100;
        width: calc(100% - 80px);
        height: 200px;
        // background-image: url($img-url);
        background-size: cover;
        background-position: center;
        box-shadow: #000 -10px 0 100px inset;
        
        @media (min-width: 768px) {
            background-size: 100% ;
            filter: grayscale(100%);
        }
    }
    
    &__social {
        position: absolute;
        left: 60px;
        top: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 180px;
        height: 64px;
        border-radius: 80px;
        z-index: 1;
        
        a {
            opacity: 0;
            will-change: transform;
            transform: scale(0.1);
            display: inline-block;
            width: 30px;
            height: 30px;
            background: #000;
            text-align: center;
            font-size: 18px;
            color: #fff;
            border-radius: 20px;
            line-height: 30px;
            transition: all 0.2s ease;
        }
        a:nth-of-type(1) {
            transition-delay: 0.4s;
        }
        a:nth-of-type(2) {
            transition-delay: 0.3s;
        }
        
        a:nth-of-type(3) {
            transition-delay: 0.2s;
        }
        
        a:nth-of-type(4) {
            transition-delay: 0.1s;
        }
    }
    
    &:hover i {
        opacity: 1;
        transform: scale(1);
    }
    
    &__button {
        position: absolute;
        right: 14px;
        bottom: 14px;
        width: 30px;
        height: 30px;
        background-color: #000;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        outline:none;
        transition: all 0.3s ease;
        mix-blend-mode: multiply;
        
        i {
            font-size: 3rem;
        }
    }
    
    @media (min-width: 992px) {
        &:hover {
            .card__button {
                transform: scale(13);
                
                @media (min-width: 600px) {
                    transform: scale(16.5);
                }
            }
            .card__material {
                color: #fff;
            }
            
            .card__material-logo {
                filter: invert(1);
            }
            
            .card__pic {
                filter: grayscale(50%);
            }
            
            .card__trigger {
                transform: scale(1);
                opacity: 1
            }
            
            .card__social a {
                transform: scale(1);
                opacity: 1;
            }
        }
    }

    @media (min-width: 992px) {
        width: calc(50% - 30px);
    }
}
