.footer {
    padding: 40px 30px;
    text-align: center;
    margin-top: 30px;
    background: url(https://gramotech.com/html/tigers/images/twitterbg.jpg) no-repeat center top;
    filter: saturate(0.5);
}
